<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>
    <session-factory>
        <!-- Conexão com o Banco de Dados -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/taskflow?createDatabaseIfNotExist=true&amp;useTimezone=true&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialeto do Hibernate para MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Mostrar o SQL gerado pelo Hibernate -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Atualizar o esquema do banco de dados automaticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Configura as classes mapeadas -->
        <mapping class="br.senai.taskflow.modelo.entidade.usuario.Usuario"/>
        <mapping class="br.senai.taskflow.modelo.entidade.tarefa.Tarefa"/>
        <mapping class="br.senai.taskflow.modelo.entidade.tarefa.TipoTarefa"/>
        <mapping class="br.senai.taskflow.modelo.entidade.desenvolvedor.Desenvolvedor"/>
        <mapping class="br.senai.taskflow.modelo.enumeracao.StatusTarefa.StatusTarefa"/>
    </session-factory>
</hibernate-configuration>
